@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.app {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 5px 10px;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 300px;
  height: 60px;
  transition: height 0.4s ease;
  border-radius: 9px;
  overflow: hidden;
}

.container-open {
  height: 322px;
}

.add-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: all 0.4s ease;
  height: 30px;
  width: 100px;
  border-radius: 21px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.add-button-text {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  position: absolute;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease-out;
}
@media (min-width: 992px) {
  .add-button-text:hover svg {
    transform: scale(1.15);
  }
}
.add-button-text svg {
  height: 15px;
  width: 15px;
  transition: transform 0.1s ease-in;
}
.add-button-text span {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.add-button-text .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 9px;
  transform: translateX(-100%);
}
.add-button-text .loader div {
  height: 100%;
  width: 2px;
  background-color: white;
  transform: skewX(-30deg);
}
.add-button-text .loader div:nth-of-type(1) {
  width: 4px;
}
.add-button-text .loader div:nth-of-type(2) {
  width: 2px;
}
.add-button-text .loader div:nth-of-type(3) {
  width: 8px;
}
.add-button-text .loader div:nth-of-type(4) {
  width: 2px;
}
.add-button-text .loader div:nth-of-type(5) {
  width: 12px;
}
.add-button-text .loader-open {
  transform: translateX(100%);
  transition: transform 0.35s ease-out;
}

.add-button-confirm {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  transition: transform 0.3s ease-out;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 13px;
}
.add-button-confirm svg {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.add-button-progress-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.add-button-progress-container .progress {
  height: 6px;
  width: 65%;
  border-radius: 6px;
  background-color: rgb(164, 163, 163);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.add-button-progress-container .progress div {
  width: 100%;
  height: 100%;
  background-color: white;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.45s ease-in-out;
}
.add-button-progress-container .progress-done div {
  transform: scaleX(1);
}

.add-button-open {
  bottom: 9px;
  right: 190px;
}

.translate-y-1 {
  transform: translateY(100%) !important;
}

.translate-y-0 {
  transform: translateY(0) !important;
}

.-translate-y-1 {
  transform: translateY(-100%) !important;
}

.translate-x-1 {
  transform: translateX(100%);
}

.translate-x-0 {
  transform: translateX(0);
}

.-translate-x-1 {
  transform: translateX(-100%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.rotate {
  animation-name: rotate;
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

.wallet {
  height: 55px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}
.wallet .close-button {
  position: absolute;
  right: -8px;
  top: -4px;
  background-color: #e9edf5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  opacity: 0;
}
.wallet .close-button svg {
  width: 12px;
  height: 12px;
}
.wallet .close-button svg path {
  stroke: #ababab;
}
.wallet .border {
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 115%;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
.wallet .svg-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9edf5;
  border-radius: 6px;
}
.wallet .svg-container svg {
  height: 35px;
  width: 35px;
}
.wallet .svg-container svg path {
  stroke: rgba(0, 0, 0, 0.15);
}
.wallet .wallet-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wallet .wallet-text h1 {
  font-size: 12px;
  color: #ababab;
  font-weight: 400;
}
.wallet .wallet-text h2 {
  font-size: 20px;
  width: 130%;
  transition: font-size 0.2s linear;
  position: relative;
  overflow: hidden;
}
.wallet .wallet-text h2 span {
  transition: transform 0.25s ease-out;
}
.wallet .wallet-text h2 span:nth-of-type(1) {
  display: block;
  position: relative;
}
.wallet .wallet-text h2 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
}

.container-open .wallet .close-button {
  opacity: 1;
}
.container-open .wallet .wallet-text h2 {
  font-size: 15px;
}
.container-open .wallet .border {
  opacity: 1;
}

.show-new-total .wallet-text h2 span:nth-of-type(1) {
  transform: translateY(-100%);
}

.payment-mode {
  margin-top: 12px;
}
.payment-mode .payment-header {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-mode .payment-header svg {
  width: 15px;
  height: 15px;
}
.payment-mode .payment-header h1 {
  font-size: 12px;
  color: #ababab;
  font-weight: 400;
}
.payment-mode .payment-header div {
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  height: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 0 15px;
}
.payment-mode .payment-header div span {
  display: flex;
  align-items: center;
}

.payment-body {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.payment-body .payment-body-item {
  background-color: #e9edf5;
  transition: background-color 0.25s ease-out;
  height: 40px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  cursor: default;
}
.payment-body .payment-body-item .payment-body-item-flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
.payment-body .payment-body-item .payment-body-item-flex .item-cursor {
  border: 1.5px solid black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-body .payment-body-item .payment-body-item-flex .item-cursor div {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  transform: scale(0.2);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.payment-body .payment-body-item .payment-body-item-flex .item-cursor-active div {
  transform: scaleX(1);
  opacity: 1;
}
.payment-body .payment-body-item .number-hidden {
  letter-spacing: 2px;
  font-weight: 700;
}
.payment-body .payment-body-item span {
  display: flex;
  align-items: center;
}
.payment-body .payment-body-item svg {
  height: 25px;
  width: 25px;
}
.payment-body .payment-body-item-active {
  background-color: white;
}
.payment-body .payment-mode-cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  border-radius: 9px;
  border: 2px solid black;
  transition: transform 0.25s ease-out;
}

.cash {
  margin-top: 12px;
}
.cash h1 {
  font-size: 12px;
  color: #ababab;
  font-weight: 400;
}
.cash .cash-body {
  position: relative;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  gap: 9px;
}
.cash .cash-body .cash-item {
  height: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3333333333%;
  border-radius: 9px;
  background-color: #e9edf5;
  position: relative;
  cursor: default;
  font-weight: 700;
  transition: background-color 0.25s ease-out;
}
.cash .cash-body .cash-item-active {
  background-color: white;
}
.cash .cash-body .cash-cursor {
  position: absolute;
  top: 0px;
  z-index: 2;
  left: 0;
  height: 100%;
  border: 2px solid black;
  width: 100%;
  border-radius: 9px;
  transition: transform 0.25s ease-out;
}

.credits {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 20px;
  width: 100%;
  left: 0;
  padding: 0px 40px;
}
.credits a {
  color: black;
  font-weight: 600;
}

/*# sourceMappingURL=index.css.map */
